# [ 2-1. Assumption 값 설정 ]

## 1. Assumption 엑셀 파일 작성
### 1-1. 엑셀로 작성한 재무모델의 가정 sheet
![엑셀 재무모델 가정sheet](image/CH02-01-01.png)

### 1-2. 파이썬 로딩을 위해 작성한 가정 데이터
* A열, B열, C열은 딕셔너리의 키값으로 사용
* D열은 딕셔너리의 Value 값으로 사용
![가정데이터엑셀](image/CH02-01-02.png)

## 2. Assumption 엑셀 데이터 로딩

### 2-1. Assumption 데이터 로딩 개요

In [2]:
assumption = {}

# row 1
assumption['business_overview'] = {}

# row 2
assumption['business_overview']['사업개요'] = {}

# row 3
assumption['business_overview']['사업개요']['사업내용'] = '호텔건물 매입 및 운영 사업'

# row 4
assumption['business_overview']['사업개요']['건물명'] = 'FS호텔'

# row 5
assumption['business_overview']['사업개요']['주소'] = '서울시 강남구 테헤란로'

# row 6
assumption['business_overview']['사업개요']['건물규모'] = '지하1층/지상10층'

In [3]:
assumption

{'business_overview': {'사업개요': {'사업내용': '호텔건물 매입 및 운영 사업',
   '건물명': 'FS호텔',
   '주소': '서울시 강남구 테헤란로',
   '건물규모': '지하1층/지상10층'}}}

### 2-2. Assumption 데이터 로딩 코드

In [1]:
from openpyxl import load_workbook
import pandas as pd

In [4]:
wb = load_workbook("FCHotel_FSmodeling_assumption.xlsx")
ws = wb['Sheet1']

assumption = {}
for row in ws.iter_rows(values_only=True):
    if row[0] is not None:
        assumption[row[0]] = {}
        astndct1 = assumption[row[0]]
    elif row[1] is not None:
        astndct1[row[1]] = {}
        astndct2 = astndct1[row[1]]
    elif row[2] is not None:
        astndct2[row[2]] = row[3]

In [5]:
assumption

{'business_overview': {'사업개요': {'사업내용': '호텔건물 매입 및 운영 사업',
   '건물명': 'FS호텔',
   '주소': '서울시 강남구 테헤란로',
   '건물규모': '지하1층/지상10층'},
  '객실수': {'TypeA': 40, 'TypeB': 40, 'TypeC': 20},
  '자산매입': {'자산매입금액': 18000000000, '매입부수비용': 1000000000}},
 'period_assumptions': {'기본기간가정': {'모델시작일': datetime.datetime(2023, 12, 1, 0, 0),
   '모델종료일': datetime.datetime(2027, 1, 31, 0, 0),
   '운영시작일': datetime.datetime(2024, 1, 1, 0, 0),
   '운영종료일': datetime.datetime(2026, 12, 31, 0, 0)},
  '자산매입일정': {'자산매입일': datetime.datetime(2023, 12, 31, 0, 0),
   '매입부수비용지급일': datetime.datetime(2023, 12, 31, 0, 0)},
  '자금조달일정': {'자기자본유입일': datetime.datetime(2023, 12, 31, 0, 0),
   '차입금유입일': datetime.datetime(2023, 12, 31, 0, 0),
   '이자지급시작일': datetime.datetime(2024, 1, 1, 0, 0),
   '이자지급종료일': datetime.datetime(2026, 12, 31, 0, 0),
   '원금상환시작일': datetime.datetime(2024, 1, 1, 0, 0),
   '원금상환종료일': datetime.datetime(2026, 12, 31, 0, 0)},
  '연간인상률': {'판매단가': 0.05, '운영비': 0.03, '인건비': 0.05}},
 'funding_assumptions': {'equity': {'amount': 10000000000,
   '최초배당일': datetime.datetime(2025, 12, 31, 0, 0),
   '배당률': 0.3},
  'loan': {'amount': 10000000000,
   '원금상환주기': 3,
   '상환원금': 50000000,
   '이자지급주기': 1,
   '이자율': 0.05}},
 'facility_cost': {'통상수선비': {'TypeA': 1000, 'TypeB': 1200, 'TypeC': 2000},
  '대수선공사비': {'TypeA': 30000000, 'TypeB': 35000000, 'TypeC': 50000000},
  '수선시작일': {'TypeA': datetime.datetime(2025, 3, 1, 0, 0),
   'TypeB': datetime.datetime(2025, 4, 1, 0, 0),
   'TypeC': datetime.datetime(2025, 5, 1, 0, 0)},
  '수선종료일': {'TypeA': datetime.datetime(2025, 3, 31, 0, 0),
   'TypeB': datetime.datetime(2025, 4, 30, 0, 0),
   'TypeC': datetime.datetime(2025, 5, 31, 0, 0)}},
 'monthly_occ_rate': {'TypeA': {1: 0.9,
   2: 0.85,
   3: 0.8,
   4: 0.8,
   5: 0.8,
   6: 0.7,
   7: 0.9,
   8: 0.9,
   9: 0.8,
   10: 0.8,
   11: 0.7,
   12: 0.9},
  'TypeB': {1: 0.9,
   2: 0.85,
   3: 0.8,
   4: 0.8,
   5: 0.8,
   6: 0.7,
   7: 0.9,
   8: 0.9,
   9: 0.8,
   10: 0.8,
   11: 0.7,
   12: 0.9},
  'TypeC': {1: 0.85,
   2: 0.8,
   3: 0.7,
   4: 0.7,
   5: 0.75,
   6: 0.7,
   7: 0.85,
   8: 0.85,
   9: 0.75,
   10: 0.75,
   11: 0.7,
   12: 0.9}},
 'monthly_price': {'TypeA': {1: 130000,
   2: 130000,
   3: 100000,
   4: 100000,
   5: 100000,
   6: 100000,
   7: 130000,
   8: 130000,
   9: 100000,
   10: 100000,
   11: 100000,
   12: 130000},
  'TypeB': {1: 150000,
   2: 150000,
   3: 120000,
   4: 120000,
   5: 120000,
   6: 120000,
   7: 150000,
   8: 150000,
   9: 120000,
   10: 120000,
   11: 120000,
   12: 150000},
  'TypeC': {1: 250000,
   2: 250000,
   3: 200000,
   4: 200000,
   5: 200000,
   6: 200000,
   7: 250000,
   8: 250000,
   9: 200000,
   10: 200000,
   11: 200000,
   12: 250000}},
 'room_operating_cost': {'청소세탁비': {'TypeA': 10000,
   'TypeB': 12000,
   'TypeC': 20000},
  '수도광열비': {'TypeA': 5000, 'TypeB': 6000, 'TypeC': 10000, 'Overhead': 3000000},
  '예약수수료율': {'TypeA': 0.03, 'TypeB': 0.03, 'TypeC': 0.03}},
 'management_cost': {'광고홍보비예산': {'amount': 200000000},
  '광고홍보비': {1: 0.15,
   2: 0.15,
   3: 0.05,
   4: 0.05,
   5: 0.05,
   6: 0.05,
   7: 0.1,
   8: 0.1,
   9: 0.05,
   10: 0.05,
   11: 0.05,
   12: 0.15},
  '기타운영비': {'amount': 10000000}},
 'salary_cost': {'employee_count': {'객실운영팀_정규직': 5,
   '객실운영팀_임시직': 2,
   '경영지원팀_임원': 1,
   '경영지원팀_정규직': 3,
   '마케팅팀_정규직': 2,
   '시설관리팀_정규직': 2,
   '시설관리팀_임시직': 1},
  'annual_salary': {'객실운영팀_정규직': 36000000,
   '객실운영팀_임시직': 30000000,
   '경영지원팀_임원': 80000000,
   '경영지원팀_정규직': 36000000,
   '마케팅팀_정규직': 36000000,
   '시설관리팀_정규직': 36000000,
   '시설관리팀_임시직': 30000000}}}

### 2-3. 주요 가정 데이터의 DataFrame 설정

In [7]:
monthly_occ_rate = pd.DataFrame(assumption['monthly_occ_rate'])
room_operating_cost = pd.DataFrame(assumption['room_operating_cost'])
salary_cost = pd.DataFrame(assumption['salary_cost'])

In [8]:
monthly_occ_rate

    TypeA  TypeB  TypeC
1    0.90   0.90   0.85
2    0.85   0.85   0.80
3    0.80   0.80   0.70
4    0.80   0.80   0.70
5    0.80   0.80   0.75
6    0.70   0.70   0.70
7    0.90   0.90   0.85
8    0.90   0.90   0.85
9    0.80   0.80   0.75
10   0.80   0.80   0.75
11   0.70   0.70   0.70
12   0.90   0.90   0.90

In [9]:
room_operating_cost

            청소세탁비    수도광열비  예약수수료율
TypeA     10000.0     5000    0.03
TypeB     12000.0     6000    0.03
TypeC     20000.0    10000    0.03
Overhead      NaN  3000000     NaN

In [10]:
salary_cost

           employee_count  annual_salary
객실운영팀_정규직               5       36000000
객실운영팀_임시직               2       30000000
경영지원팀_임원                1       80000000
경영지원팀_정규직               3       36000000
마케팅팀_정규직                2       36000000
시설관리팀_정규직               2       36000000
시설관리팀_임시직               1       30000000

## 3. Assumption.py 파일 작성

In [ ]:
# m01_assumption.py

from openpyxl import load_workbook
import pandas as pd

wb = load_workbook("FCHotel_FSmodeling_assumption.xlsx")
ws = wb['Sheet1']

assumption = {}
for row in ws.iter_rows(values_only=True):
    if row[0] is not None:
        assumption[row[0]] = {}
        astndct1 = assumption[row[0]]
    elif row[1] is not None:
        astndct1[row[1]] = {}
        astndct2 = astndct1[row[1]]
    elif row[2] is not None:
        astndct2[row[2]] = row[3]

monthly_occ_rate = pd.DataFrame(assumption['monthly_occ_rate'])
room_operating_cost = pd.DataFrame(assumption['room_operating_cost'])
salary_cost = pd.DataFrame(assumption['salary_cost'])