# [ 5-2. 추정결과 출력 파일 작성 ]

## 1. 기본 모듈 insert

In [1]:
import pandas as pd
pd.set_option('display.max_rows', 30)
pd.set_option('display.max_columns', 100)
pd.set_option('display.max_colwidth', 20)
pd.set_option('display.width', 300)

# DataFrame의 출력을 확장하여 한 줄로 계속 출력되도록 설정
pd.set_option('display.expand_frame_repr', True)

from m00_general_function import df_seperator
from m01_assumption import assumption
from m02_index import index
from m03_funding import funding
from m04_operating_income import operating_income
from m05_operating_cost import operating_cost
from m06_facility_cost import facility_cost
from m07_cashflow import cashflow, balance

## 2. 피벗테이블 return 함수 작성

In [2]:
def pivot_cashflow(cashflow=cashflow):
    cf_table = cashflow.copy()
    
    # 입금금액과 출금금액 간 차액 계산
    cf_table['amount'] = cf_table['입금금액'] - cf_table['출금금액']
    cf_table = cf_table[['date', 'categoryA', 'categoryB', 'categoryC', 'amount']]

    # 피벗테이블 작성
    cf_table = cf_table.pivot_table(
        values = 'amount',
        index = 'date',
        columns = ['categoryA', 'categoryB', 'categoryC'],
        aggfunc = 'sum'
    ).fillna(0).astype(int)

    # 현금잔액 및 소계 데이터 추가
    cf_table[('운영수입', '소계', '')] = operating_income['Total']['객실수입']
    cf_table[('객실운영비', '소계', '')] = -operating_cost['객실운영비']['Total']
    cf_table[('관리운영비', '소계', '')] = -operating_cost['관리운영비']['Total']
    cf_table[('인건비', '소계', '')] = -operating_cost['인건비']['Total']
    cf_table[('시설관리비', '소계', '')] = -facility_cost['Total']
    cf_table['기초현금'] = balance['기초현금']
    cf_table['기말현금'] = balance['기말현금']

    # 컬럼 순서 정리
    cf_table = cf_table[[
        (   '기초현금',       '',         ''),
        (   '자금조달',   '자기자본',   '자기자본유입'),
        (   '자금조달',    '차입금',    '차입금유입'),
        (   '자산매입',   '자산매입',  '매입대금지출'),
        (   '자산매입',   '매입부수비용',  '부수비용지출'),
        (   '운영수입',   '객실수입',     'TypeA'),
        (   '운영수입',   '객실수입',     'TypeB'),
        (   '운영수입',   '객실수입',     'TypeC'),
        (   '운영수입',      '소계',          ''),
        (  '객실운영비',  '예약수수료',    'TypeA'),
        (  '객실운영비',  '예약수수료',    'TypeB'),
        (  '객실운영비',  '예약수수료',    'TypeC'),
        (  '객실운영비',  '청소세탁비',    'TypeA'),
        (  '객실운영비',  '청소세탁비',    'TypeB'),
        (  '객실운영비',  '청소세탁비',    'TypeC'),
        (  '객실운영비',  '수도광열비',    'TypeA'),
        (  '객실운영비',  '수도광열비',    'TypeB'),
        (  '객실운영비',  '수도광열비',    'TypeC'),
        (  '객실운영비',  '수도광열비', 'Overhead'),
        (  '객실운영비',      '소계',         ''),
        (  '관리운영비',  '관리운영비',   '광고홍보비'),
        (  '관리운영비',  '관리운영비',   '기타운영비'),
        (  '관리운영비',      '소계',         ''),
        (    '인건비',  '객실운영팀',      '임시직'),
        (    '인건비',  '객실운영팀',      '정규직'),
        (    '인건비',  '경영지원팀',       '임원'),
        (    '인건비',  '경영지원팀',      '정규직'),
        (    '인건비',   '마케팅팀',      '정규직'),
        (    '인건비',  '시설관리팀',      '임시직'),
        (    '인건비',  '시설관리팀',      '정규직'),
        (    '인건비',      '소계',         ''),
        (  '시설관리비',  '통상수선비',    'TypeA'),
        (  '시설관리비',  '통상수선비',    'TypeB'),
        (  '시설관리비',  '통상수선비',    'TypeC'),
        (  '시설관리비', '대수선공사비',    'TypeA'),
        (  '시설관리비', '대수선공사비',    'TypeB'),
        (  '시설관리비', '대수선공사비',    'TypeC'),
        (  '시설관리비',      '소계',         ''),
        ('차입원리금상환',    '차입금',    '차입금상환'),
        ('차입원리금상환',    '차입금',     '차입이자'),     
        ('자기자본배당', '자기자본배당', '배당금지급'),   
        (   '기말현금',       '',         '')
    ]]

    return cf_table

In [3]:
pivot_cashflow(cashflow)

categoryA         기초현금         자금조달                      자산매입                   운영수입                                     객실운영비                                                                                                   관리운영비                          인건비                                        \
categoryB                      자기자본          차입금         자산매입      매입부수비용       객실수입                               소계    예약수수료                       청소세탁비                        수도광열비                                   소계     관리운영비                  소계    객실운영팀              경영지원팀               마케팅팀
categoryC                    자기자본유입        차입금유입       매입대금지출      부수비용지출      TypeA      TypeB      TypeC               TypeA    TypeB    TypeC     TypeA     TypeB     TypeC    TypeA    TypeB    TypeC Overhead               광고홍보비     기타운영비                임시직       정규직       임원       정규직      정규직
date
2023-12-31           0  10000000000  10000000000 -18000000000 -1000000000          0          0          0          0        0        0        0         0         0         0        0        0        0 -3000000  -3000000 -30000000 -10000000 -40000000 -5095890 -15287671 -6794520  -9172602 -6115068
2024-01-31   905871236            0            0            0           0  145080000  167400000  131750000  444230000 -4352400 -5022000 -3952500 -11160000 -13392000 -10540000 -5580000 -6696000 -5270000 -3000000 -68964900 -30000000 -10000000 -40000000 -5081967 -15245901 -6775956  -9147540 -6098360
2024-02-29  1144288339            0            0            0           0  128180000  147900000  116000000  392080000 -3845400 -4437000 -3480000  -9860000 -11832000  -9280000 -4930000 -5916000 -4640000 -3000000 -61220400 -30000000 -10000000 -40000000 -4754098 -14262295 -6338797  -8557377 -5704918
2024-03-31  1344733797            0            0            0           0   99200000  119040000   86800000  305040000 -2976000 -3571200 -2604000  -9920000 -11904000  -8680000 -4960000 -5952000 -4340000 -3000000 -57907200 -10000000 -10000000 -20000000 -5081967 -15245901 -6775956  -9147540 -6098360
2024-04-30  1425477400            0            0            0           0   96000000  115200000   84000000  295200000 -2880000 -3456000 -2520000  -9600000 -11520000  -8400000 -4800000 -5760000 -4200000 -3000000 -56136000 -10000000 -10000000 -20000000 -4918032 -14754098 -6557377  -8852459 -5901639
...                ...          ...          ...          ...         ...        ...        ...        ...        ...      ...      ...      ...       ...       ...       ...      ...      ...      ...      ...       ...       ...       ...       ...      ...       ...      ...       ...      ...
2026-09-30  1747490404            0            0            0           0   96000000  115200000   90000000  301200000 -2880000 -3456000 -2700000 -10184640 -12221568  -9548100 -5092320 -6110784 -4774050 -3182700 -60150162 -10609000 -10609000 -21218000 -5436986 -16310958 -7249315  -9786575 -6524383
2026-10-31  1820534619            0            0            0           0   99200000  119040000   93000000  311240000 -2976000 -3571200 -2790000 -10524128 -12628953  -9866370 -5262064 -6314476 -4933185 -3182700 -62049076 -10609000 -10609000 -21218000 -5618219 -16854657 -7490958 -10112794 -6741863
2026-11-30  1948705996            0            0            0           0   84000000  100800000   84000000  268800000 -2520000 -3024000 -2520000  -8911560 -10693872  -8911560 -4455780 -5346936 -4455780 -3182700 -54022188 -10609000 -10609000 -21218000 -5436986 -16310958 -7249315  -9786575 -6524383
2026-12-31  2046027396            0            0            0           0  145080000  167400000  139500000  451980000 -4352400 -5022000 -4185000 -11839644 -14207572 -11839644 -5919822 -7103786 -5919822 -3182700 -73572390 -31827000 -10609000 -42436000 -5618219 -16854657 -7490958 -10112794 -6741863
2027-01-31  1562197718            0            0            0           0          0          0          0          0        0        0        0         0         0         0        0        0        0 -3278181  -3278181 -32781810 -10927270 -43709080 -5899130 -17697390 -7865506 -10618434 -7078956

categoryA                                 시설관리비                                                 차입원리금상환                  기말현금
categoryB     시설관리팀                 소계    통상수선비                   대수선공사비                   소계       차입금
categoryC       임시직      정규직              TypeA    TypeB    TypeC  TypeA TypeB TypeC              차입금상환      차입이자
date
2023-12-31 -2547945 -6115068 -45013696        0        0        0      0     0     0        0         0         0   905871236
2024-01-31 -2540983 -6098360 -44890707 -1116000 -1339200 -1054000      0     0     0 -3509200         0 -42349730  1144288339
2024-02-29 -2377049 -5704918 -41994534  -986000 -1183200  -928000      0     0     0 -3097200         0 -39617490  1344733797
2024-03-31 -2540983 -6098360 -44890707  -992000 -1190400  -868000      0     0     0 -3050400 -50000000 -42349730  1425477400
2024-04-30 -2459016 -5901639 -43442621  -960000 -1152000  -840000      0     0     0 -2952000         0 -40778690  1551466450
...             ...      ...       ...      ...      ...      ...    ...   ...   ...      ...       ...       ...         ...
2026-09-30 -2718493 -6524383 -48026710 -1018464 -1222156  -954810      0     0     0 -3195430 -50000000 -39041100  1820534619
2026-10-31 -2809109 -6741863 -49627600 -1052412 -1262895  -986637      0     0     0 -3301944         0 -40130140  1948705996
2026-11-30 -2718493 -6524383 -48026710  -891156 -1069387  -891156      0     0     0 -2851699         0 -38835620  2046027396
2026-12-31 -2809109 -6741863 -49627600 -1183964 -1420757 -1183964      0     0     0 -3788685 -50000000 -40130140  1562197718
2027-01-31 -2949565 -7078956 -52108981        0        0        0      0     0     0        0         0         0  1456022520

[38 rows x 41 columns]

## 3. 엑셀파일 생성 함수 작성

In [4]:
def print_cashflow(cashflow=cashflow, file_name='cashflow_table.xlsx'):
    cf_excel = pivot_cashflow(cashflow)
    cf_excel.index = cf_excel.index.strftime('%Y-%m-%d')
    cf_excel.to_excel(file_name)

In [5]:
print_cashflow(cashflow, 'cashflow_table_test.xlsx')

## 4. cashflow_results.py 파일 작성
### 4-1. 코드 내용을 새로 생성한 파일에 복사
* cashflow_results.py 파일 생성 후 코드 내용 복사

### 4-2. 객체 종합 dictionary 작성

In [6]:
dct = {
    'assumption': assumption,
    'index': index,
    'funding': funding,
    'operating_income': operating_income,
    'operating_cost': operating_cost,
    'facility_cost': facility_cost,
    'cashflow': cashflow,
    'balance': balance,
    'pivot_cashflow': pivot_cashflow,
    'print_cashflow': print_cashflow
}

## 5. cashflow_results.py 파일 사용
* "재시작" 클릭 후 아래 내용 진행

In [7]:
import m08_cashflow_results as cf

In [8]:
cf.pivot_cashflow()

categoryA         기초현금         자금조달                      자산매입                   운영수입                                     객실운영비                                                                                                   관리운영비                          인건비                                        \
categoryB                      자기자본          차입금         자산매입      매입부수비용       객실수입                               소계    예약수수료                       청소세탁비                        수도광열비                                   소계     관리운영비                  소계    객실운영팀              경영지원팀               마케팅팀
categoryC                    자기자본유입        차입금유입       매입대금지출      부수비용지출      TypeA      TypeB      TypeC               TypeA    TypeB    TypeC     TypeA     TypeB     TypeC    TypeA    TypeB    TypeC Overhead               광고홍보비     기타운영비                임시직       정규직       임원       정규직      정규직
date
2023-12-31           0  10000000000  10000000000 -18000000000 -1000000000          0          0          0          0        0        0        0         0         0         0        0        0        0 -3000000  -3000000 -30000000 -10000000 -40000000 -5095890 -15287671 -6794520  -9172602 -6115068
2024-01-31   905871236            0            0            0           0  145080000  167400000  131750000  444230000 -4352400 -5022000 -3952500 -11160000 -13392000 -10540000 -5580000 -6696000 -5270000 -3000000 -68964900 -30000000 -10000000 -40000000 -5081967 -15245901 -6775956  -9147540 -6098360
2024-02-29  1144288339            0            0            0           0  128180000  147900000  116000000  392080000 -3845400 -4437000 -3480000  -9860000 -11832000  -9280000 -4930000 -5916000 -4640000 -3000000 -61220400 -30000000 -10000000 -40000000 -4754098 -14262295 -6338797  -8557377 -5704918
2024-03-31  1344733797            0            0            0           0   99200000  119040000   86800000  305040000 -2976000 -3571200 -2604000  -9920000 -11904000  -8680000 -4960000 -5952000 -4340000 -3000000 -57907200 -10000000 -10000000 -20000000 -5081967 -15245901 -6775956  -9147540 -6098360
2024-04-30  1425477400            0            0            0           0   96000000  115200000   84000000  295200000 -2880000 -3456000 -2520000  -9600000 -11520000  -8400000 -4800000 -5760000 -4200000 -3000000 -56136000 -10000000 -10000000 -20000000 -4918032 -14754098 -6557377  -8852459 -5901639
...                ...          ...          ...          ...         ...        ...        ...        ...        ...      ...      ...      ...       ...       ...       ...      ...      ...      ...      ...       ...       ...       ...       ...      ...       ...      ...       ...      ...
2026-09-30  1747490404            0            0            0           0   96000000  115200000   90000000  301200000 -2880000 -3456000 -2700000 -10184640 -12221568  -9548100 -5092320 -6110784 -4774050 -3182700 -60150162 -10609000 -10609000 -21218000 -5436986 -16310958 -7249315  -9786575 -6524383
2026-10-31  1820534619            0            0            0           0   99200000  119040000   93000000  311240000 -2976000 -3571200 -2790000 -10524128 -12628953  -9866370 -5262064 -6314476 -4933185 -3182700 -62049076 -10609000 -10609000 -21218000 -5618219 -16854657 -7490958 -10112794 -6741863
2026-11-30  1948705996            0            0            0           0   84000000  100800000   84000000  268800000 -2520000 -3024000 -2520000  -8911560 -10693872  -8911560 -4455780 -5346936 -4455780 -3182700 -54022188 -10609000 -10609000 -21218000 -5436986 -16310958 -7249315  -9786575 -6524383
2026-12-31  2046027396            0            0            0           0  145080000  167400000  139500000  451980000 -4352400 -5022000 -4185000 -11839644 -14207572 -11839644 -5919822 -7103786 -5919822 -3182700 -73572390 -31827000 -10609000 -42436000 -5618219 -16854657 -7490958 -10112794 -6741863
2027-01-31  1562197718            0            0            0           0          0          0          0          0        0        0        0         0         0         0        0        0        0 -3278181  -3278181 -32781810 -10927270 -43709080 -5899130 -17697390 -7865506 -10618434 -7078956

categoryA                                 시설관리비                                                 차입원리금상환                  기말현금
categoryB     시설관리팀                 소계    통상수선비                   대수선공사비                   소계       차입금
categoryC       임시직      정규직              TypeA    TypeB    TypeC  TypeA TypeB TypeC              차입금상환      차입이자
date
2023-12-31 -2547945 -6115068 -45013696        0        0        0      0     0     0        0         0         0   905871236
2024-01-31 -2540983 -6098360 -44890707 -1116000 -1339200 -1054000      0     0     0 -3509200         0 -42349730  1144288339
2024-02-29 -2377049 -5704918 -41994534  -986000 -1183200  -928000      0     0     0 -3097200         0 -39617490  1344733797
2024-03-31 -2540983 -6098360 -44890707  -992000 -1190400  -868000      0     0     0 -3050400 -50000000 -42349730  1425477400
2024-04-30 -2459016 -5901639 -43442621  -960000 -1152000  -840000      0     0     0 -2952000         0 -40778690  1551466450
...             ...      ...       ...      ...      ...      ...    ...   ...   ...      ...       ...       ...         ...
2026-09-30 -2718493 -6524383 -48026710 -1018464 -1222156  -954810      0     0     0 -3195430 -50000000 -39041100  1820534619
2026-10-31 -2809109 -6741863 -49627600 -1052412 -1262895  -986637      0     0     0 -3301944         0 -40130140  1948705996
2026-11-30 -2718493 -6524383 -48026710  -891156 -1069387  -891156      0     0     0 -2851699         0 -38835620  2046027396
2026-12-31 -2809109 -6741863 -49627600 -1183964 -1420757 -1183964      0     0     0 -3788685 -50000000 -40130140  1562197718
2027-01-31 -2949565 -7078956 -52108981        0        0        0      0     0     0        0         0         0  1456022520

[38 rows x 41 columns]

In [9]:
cf.cashflow

          date categoryA categoryB categoryC         입금금액         출금금액
0   2023-12-31      자금조달      자기자본    자기자본유입  10000000000            0
1   2023-12-31      자금조달       차입금     차입금유입  10000000000            0
2   2023-12-31      자산매입      자산매입    매입대금지출            0  18000000000
3   2023-12-31      자산매입    매입부수비용    부수비용지출            0   1000000000
4   2023-12-31     객실운영비     수도광열비  Overhead            0      3000000
..         ...       ...       ...       ...          ...          ...
957 2027-01-31       인건비     경영지원팀       정규직            0     10618434
958 2027-01-31       인건비     경영지원팀        임원            0      7865506
959 2027-01-31       인건비      마케팅팀       정규직            0      7078956
960 2027-01-31       인건비     시설관리팀       정규직            0      7078956
961 2027-01-31       인건비     시설관리팀       임시직            0      2949565

[962 rows x 6 columns]

In [10]:
cf.dct

{'assumption': {'business_overview': {'사업개요': {'사업내용': '호텔건물 매입 및 운영 사업',
    '건물명': 'FS호텔',
    '주소': '서울시 강남구 테헤란로',
    '건물규모': '지하1층/지상10층'},
   '객실수': {'TypeA': 40, 'TypeB': 40, 'TypeC': 20},
   '자산매입': {'자산매입금액': 18000000000, '매입부수비용': 1000000000}},
  'period_assumptions': {'기본기간가정': {'모델시작일': datetime.datetime(2023, 12, 1, 0, 0),
    '모델종료일': datetime.datetime(2027, 1, 31, 0, 0),
    '운영시작일': datetime.datetime(2024, 1, 1, 0, 0),
    '운영종료일': datetime.datetime(2026, 12, 31, 0, 0)},
   '자산매입일정': {'자산매입일': datetime.datetime(2023, 12, 31, 0, 0),
    '매입부수비용지급일': datetime.datetime(2023, 12, 31, 0, 0)},
   '자금조달일정': {'자기자본유입일': datetime.datetime(2023, 12, 31, 0, 0),
    '차입금유입일': datetime.datetime(2023, 12, 31, 0, 0),
    '이자지급시작일': datetime.datetime(2024, 1, 1, 0, 0),
    '이자지급종료일': datetime.datetime(2026, 12, 31, 0, 0),
    '원금상환시작일': datetime.datetime(2024, 1, 1, 0, 0),
    '원금상환종료일': datetime.datetime(2026, 12, 31, 0, 0)},
   '연간인상률': {'판매단가': 0.05, '운영비': 0.03, '인건비': 0.05}},
  'funding_assumptions': {'equity': {'amount': 10000000000,
    '최초배당일': datetime.datetime(2025, 12, 31, 0, 0),
    '배당률': 0.3},
   'loan': {'amount': 10000000000,
    '원금상환주기': 3,
    '상환원금': 50000000,
    '이자지급주기': 1,
    '이자율': 0.05}},
  'facility_cost': {'통상수선비': {'TypeA': 1000, 'TypeB': 1200, 'TypeC': 2000},
   '대수선공사비': {'TypeA': 30000000, 'TypeB': 35000000, 'TypeC': 50000000},
   '수선시작일': {'TypeA': datetime.datetime(2025, 3, 1, 0, 0),
    'TypeB': datetime.datetime(2025, 4, 1, 0, 0),
    'TypeC': datetime.datetime(2025, 5, 1, 0, 0)},
   '수선종료일': {'TypeA': datetime.datetime(2025, 3, 31, 0, 0),
    'TypeB': datetime.datetime(2025, 4, 30, 0, 0),
    'TypeC': datetime.datetime(2025, 5, 31, 0, 0)}},
  'monthly_occ_rate': {'TypeA': {1: 0.9,
    2: 0.85,
    3: 0.8,
    4: 0.8,
    5: 0.8,
    6: 0.7,
    7: 0.9,
    8: 0.9,
    9: 0.8,
    10: 0.8,
    11: 0.7,
    12: 0.9},
   'TypeB': {1: 0.9,
    2: 0.85,
    3: 0.8,
    4: 0.8,
    5: 0.8,
    6: 0.7,
    7: 0.9,
    8: 0.9,
    9: 0.8,
    10: 0.8,
    11: 0.7,
    12: 0.9},
   'TypeC': {1: 0.85,
    2: 0.8,
    3: 0.7,
    4: 0.7,
    5: 0.75,
    6: 0.7,
    7: 0.85,
    8: 0.85,
    9: 0.75,
    10: 0.75,
    11: 0.7,
    12: 0.9}},
  'monthly_price': {'TypeA': {1: 130000,
    2: 130000,
    3: 100000,
    4: 100000,
    5: 100000,
    6: 100000,
    7: 130000,
    8: 130000,
    9: 100000,
    10: 100000,
    11: 100000,
    12: 130000},
   'TypeB': {1: 150000,
    2: 150000,
    3: 120000,
    4: 120000,
    5: 120000,
    6: 120000,
    7: 150000,
    8: 150000,
    9: 120000,
    10: 120000,
    11: 120000,
    12: 150000},
   'TypeC': {1: 250000,
    2: 250000,
    3: 200000,
    4: 200000,
    5: 200000,
    6: 200000,
    7: 250000,
    8: 250000,
    9: 200000,
    10: 200000,
    11: 200000,
    12: 250000}},
  'room_operating_cost': {'청소세탁비': {'TypeA': 10000,
    'TypeB': 12000,
    'TypeC': 20000},
   '수도광열비': {'TypeA': 5000,
    'TypeB': 6000,
    'TypeC': 10000,
    'Overhead': 3000000},
   '예약수수료율': {'TypeA': 0.03, 'TypeB': 0.03, 'TypeC': 0.03}},
  'management_cost': {'광고홍보비예산': {'amount': 200000000},
   '광고홍보비': {1: 0.15,
    2: 0.15,
    3: 0.05,
    4: 0.05,
    5: 0.05,
    6: 0.05,
    7: 0.1,
    8: 0.1,
    9: 0.05,
    10: 0.05,
    11: 0.05,
    12: 0.15},
   '기타운영비': {'amount': 10000000}},
  'salary_cost': {'employee_count': {'객실운영팀_정규직': 5,
    '객실운영팀_임시직': 2,
    '경영지원팀_임원': 1,
    '경영지원팀_정규직': 3,
    '마케팅팀_정규직': 2,
    '시설관리팀_정규직': 2,
    '시설관리팀_임시직': 1},
   'annual_salary': {'객실운영팀_정규직': 36000000,
    '객실운영팀_임시직': 30000000,
    '경영지원팀_임원': 80000000,
    '경영지원팀_정규직': 36000000,
    '마케팅팀_정규직': 36000000,
    '시설관리팀_정규직': 36000000,
    '시설관리팀_임시직': 30000000}}},
 'index': {'model': [datetime.datetime(2023, 12, 31, 0, 0),
   datetime.datetime(2024, 1, 31, 0, 0),
   datetime.datetime(2024, 2, 29, 0, 0),
   datetime.datetime(2024, 3, 31, 0, 0),
   datetime.datetime(2024, 4, 30, 0, 0),
   datetime.datetime(2024, 5, 31, 0, 0),
   datetime.datetime(2024, 6, 30, 0, 0),
   datetime.datetime(2024, 7, 31, 0, 0),
   datetime.datetime(2024, 8, 31, 0, 0),
   datetime.datetime(2024, 9, 30, 0, 0),
   datetime.datetime(2024, 10, 31, 0, 0),
   datetime.datetime(2024, 11, 30, 0, 0),
   datetime.datetime(2024, 12, 31, 0, 0),
   datetime.datetime(2025, 1, 31, 0, 0),
   datetime.datetime(2025, 2, 28, 0, 0),
   datetime.datetime(2025, 3, 31, 0, 0),
   datetime.datetime(2025, 4, 30, 0, 0),
   datetime.datetime(2025, 5, 31, 0, 0),
   datetime.datetime(2025, 6, 30, 0, 0),
   datetime.datetime(2025, 7, 31, 0, 0),
   datetime.datetime(2025, 8, 31, 0, 0),
   datetime.datetime(2025, 9, 30, 0, 0),
   datetime.datetime(2025, 10, 31, 0, 0),
   datetime.datetime(2025, 11, 30, 0, 0),
   datetime.datetime(2025, 12, 31, 0, 0),
   datetime.datetime(2026, 1, 31, 0, 0),
   datetime.datetime(2026, 2, 28, 0, 0),
   datetime.datetime(2026, 3, 31, 0, 0),
   datetime.datetime(2026, 4, 30, 0, 0),
   datetime.datetime(2026, 5, 31, 0, 0),
   datetime.datetime(2026, 6, 30, 0, 0),
   datetime.datetime(2026, 7, 31, 0, 0),
   datetime.datetime(2026, 8, 31, 0, 0),
   datetime.datetime(2026, 9, 30, 0, 0),
   datetime.datetime(2026, 10, 31, 0, 0),
   datetime.datetime(2026, 11, 30, 0, 0),
   datetime.datetime(2026, 12, 31, 0, 0),
   datetime.datetime(2027, 1, 31, 0, 0)],
  'operating': [datetime.datetime(2024, 1, 31, 0, 0),
   datetime.datetime(2024, 2, 29, 0, 0),
   datetime.datetime(2024, 3, 31, 0, 0),
   datetime.datetime(2024, 4, 30, 0, 0),
   datetime.datetime(2024, 5, 31, 0, 0),
   datetime.datetime(2024, 6, 30, 0, 0),
   datetime.datetime(2024, 7, 31, 0, 0),
   datetime.datetime(2024, 8, 31, 0, 0),
   datetime.datetime(2024, 9, 30, 0, 0),
   datetime.datetime(2024, 10, 31, 0, 0),
   datetime.datetime(2024, 11, 30, 0, 0),
   datetime.datetime(2024, 12, 31, 0, 0),
   datetime.datetime(2025, 1, 31, 0, 0),
   datetime.datetime(2025, 2, 28, 0, 0),
   datetime.datetime(2025, 3, 31, 0, 0),
   datetime.datetime(2025, 4, 30, 0, 0),
   datetime.datetime(2025, 5, 31, 0, 0),
   datetime.datetime(2025, 6, 30, 0, 0),
   datetime.datetime(2025, 7, 31, 0, 0),
   datetime.datetime(2025, 8, 31, 0, 0),
   datetime.datetime(2025, 9, 30, 0, 0),
   datetime.datetime(2025, 10, 31, 0, 0),
   datetime.datetime(2025, 11, 30, 0, 0),
   datetime.datetime(2025, 12, 31, 0, 0),
   datetime.datetime(2026, 1, 31, 0, 0),
   datetime.datetime(2026, 2, 28, 0, 0),
   datetime.datetime(2026, 3, 31, 0, 0),
   datetime.datetime(2026, 4, 30, 0, 0),
   datetime.datetime(2026, 5, 31, 0, 0),
   datetime.datetime(2026, 6, 30, 0, 0),
   datetime.datetime(2026, 7, 31, 0, 0),
   datetime.datetime(2026, 8, 31, 0, 0),
   datetime.datetime(2026, 9, 30, 0, 0),
   datetime.datetime(2026, 10, 31, 0, 0),
   datetime.datetime(2026, 11, 30, 0, 0),
   datetime.datetime(2026, 12, 31, 0, 0)],
  '이자지급': [datetime.datetime(2024, 1, 31, 0, 0),
   datetime.datetime(2024, 2, 29, 0, 0),
   datetime.datetime(2024, 3, 31, 0, 0),
   datetime.datetime(2024, 4, 30, 0, 0),
   datetime.datetime(2024, 5, 31, 0, 0),
   datetime.datetime(2024, 6, 30, 0, 0),
   datetime.datetime(2024, 7, 31, 0, 0),
   datetime.datetime(2024, 8, 31, 0, 0),
   datetime.datetime(2024, 9, 30, 0, 0),
   datetime.datetime(2024, 10, 31, 0, 0),
   datetime.datetime(2024, 11, 30, 0, 0),
   datetime.datetime(2024, 12, 31, 0, 0),
   datetime.datetime(2025, 1, 31, 0, 0),
   datetime.datetime(2025, 2, 28, 0, 0),
   datetime.datetime(2025, 3, 31, 0, 0),
   datetime.datetime(2025, 4, 30, 0, 0),
   datetime.datetime(2025, 5, 31, 0, 0),
   datetime.datetime(2025, 6, 30, 0, 0),
   datetime.datetime(2025, 7, 31, 0, 0),
   datetime.datetime(2025, 8, 31, 0, 0),
   datetime.datetime(2025, 9, 30, 0, 0),
   datetime.datetime(2025, 10, 31, 0, 0),
   datetime.datetime(2025, 11, 30, 0, 0),
   datetime.datetime(2025, 12, 31, 0, 0),
   datetime.datetime(2026, 1, 31, 0, 0),
   datetime.datetime(2026, 2, 28, 0, 0),
   datetime.datetime(2026, 3, 31, 0, 0),
   datetime.datetime(2026, 4, 30, 0, 0),
   datetime.datetime(2026, 5, 31, 0, 0),
   datetime.datetime(2026, 6, 30, 0, 0),
   datetime.datetime(2026, 7, 31, 0, 0),
   datetime.datetime(2026, 8, 31, 0, 0),
   datetime.datetime(2026, 9, 30, 0, 0),
   datetime.datetime(2026, 10, 31, 0, 0),
   datetime.datetime(2026, 11, 30, 0, 0),
   datetime.datetime(2026, 12, 31, 0, 0)],
  '원금상환': [datetime.datetime(2024, 1, 31, 0, 0),
   datetime.datetime(2024, 2, 29, 0, 0),
   datetime.datetime(2024, 3, 31, 0, 0),
   datetime.datetime(2024, 4, 30, 0, 0),
   datetime.datetime(2024, 5, 31, 0, 0),
   datetime.datetime(2024, 6, 30, 0, 0),
   datetime.datetime(2024, 7, 31, 0, 0),
   datetime.datetime(2024, 8, 31, 0, 0),
   datetime.datetime(2024, 9, 30, 0, 0),
   datetime.datetime(2024, 10, 31, 0, 0),
   datetime.datetime(2024, 11, 30, 0, 0),
   datetime.datetime(2024, 12, 31, 0, 0),
   datetime.datetime(2025, 1, 31, 0, 0),
   datetime.datetime(2025, 2, 28, 0, 0),
   datetime.datetime(2025, 3, 31, 0, 0),
   datetime.datetime(2025, 4, 30, 0, 0),
   datetime.datetime(2025, 5, 31, 0, 0),
   datetime.datetime(2025, 6, 30, 0, 0),
   datetime.datetime(2025, 7, 31, 0, 0),
   datetime.datetime(2025, 8, 31, 0, 0),
   datetime.datetime(2025, 9, 30, 0, 0),
   datetime.datetime(2025, 10, 31, 0, 0),
   datetime.datetime(2025, 11, 30, 0, 0),
   datetime.datetime(2025, 12, 31, 0, 0),
   datetime.datetime(2026, 1, 31, 0, 0),
   datetime.datetime(2026, 2, 28, 0, 0),
   datetime.datetime(2026, 3, 31, 0, 0),
   datetime.datetime(2026, 4, 30, 0, 0),
   datetime.datetime(2026, 5, 31, 0, 0),
   datetime.datetime(2026, 6, 30, 0, 0),
   datetime.datetime(2026, 7, 31, 0, 0),
   datetime.datetime(2026, 8, 31, 0, 0),
   datetime.datetime(2026, 9, 30, 0, 0),
   datetime.datetime(2026, 10, 31, 0, 0),
   datetime.datetime(2026, 11, 30, 0, 0),
   datetime.datetime(2026, 12, 31, 0, 0)],
  '수선TypeA': [datetime.datetime(2025, 3, 31, 0, 0)],
  '수선TypeB': [datetime.datetime(2025, 4, 30, 0, 0)],
  '수선TypeC': [datetime.datetime(2025, 5, 31, 0, 0)],
  '연간인상률':                 판매단가       운영비       인건비
  2023-12-31  1.000000  1.000000  1.000000
  2024-01-31  1.000000  1.000000  1.000000
  2024-02-29  1.000000  1.000000  1.000000
  2024-03-31  1.000000  1.000000  1.000000
  2024-04-30  1.000000  1.000000  1.000000
  ...              ...       ...       ...
  2026-09-30  1.102500  1.060900  1.102500
  2026-10-31  1.102500  1.060900  1.102500
  2026-11-30  1.102500  1.060900  1.102500
  2026-12-31  1.102500  1.060900  1.102500
  2027-01-31  1.157625  1.092727  1.157625

  [38 rows x 3 columns],
  'days':             월간일수  연간일수
  2023-12-31    31   365
  2024-01-31    31   366
  2024-02-29    29   366
  2024-03-31    31   366
  2024-04-30    30   366
  ...          ...   ...
  2026-09-30    30   365
  2026-10-31    31   365
  2026-11-30    30   365
  2026-12-31    31   365
  2027-01-31    31   365

  [38 rows x 2 columns]},
 'funding': {'자기자본':                  자기자본유입      배당금지급
  2023-12-31  10000000000          0
  2024-01-31            0          0
  2024-02-29            0          0
  2024-03-31            0          0
  2024-04-30            0          0
  ...                 ...        ...
  2026-09-30            0          0
  2026-10-31            0          0
  2026-11-30            0          0
  2026-12-31            0  669513000
  2027-01-31            0          0

  [38 rows x 2 columns],
  '차입금':                   차입금유입     차입금상환      차입이자        차입금잔액
  2023-12-31  10000000000         0         0  10000000000
  2024-01-31            0         0  42349730  10000000000
  2024-02-29            0         0  39617490  10000000000
  2024-03-31            0  50000000  42349730   9950000000
  2024-04-30            0         0  40778690   9950000000
  ...                 ...       ...       ...          ...
  2026-09-30            0  50000000  39041100   9450000000
  2026-10-31            0         0  40130140   9450000000
  2026-11-30            0         0  38835620   9450000000
  2026-12-31            0  50000000  40130140   9400000000
  2027-01-31            0         0         0   9400000000

  [38 rows x 4 columns],
  '자산매입':                    자산매입      매입부수비용
  2023-12-31  18000000000  1000000000
  2024-01-31            0           0
  2024-02-29            0           0
  2024-03-31            0           0
  2024-04-30            0           0
  ...                 ...         ...
  2026-09-30            0           0
  2026-10-31            0           0
  2026-11-30            0           0
  2026-12-31            0           0
  2027-01-31            0           0

  [38 rows x 2 columns]},
 'operating_income': {'TypeA':             총객실수  사용불가객실수  판매가능객실수  객실판매비율  판매객실수    판매단가       객실수입
  2023-12-31     0        0        0    0.00      0       0          0
  2024-01-31  1240        0     1240    0.90   1116  130000  145080000
  2024-02-29  1160        0     1160    0.85    986  130000  128180000
  2024-03-31  1240        0     1240    0.80    992  100000   99200000
  2024-04-30  1200        0     1200    0.80    960  100000   96000000
  ...          ...      ...      ...     ...    ...     ...        ...
  2026-09-30  1200        0     1200    0.80    960  100000   96000000
  2026-10-31  1240        0     1240    0.80    992  100000   99200000
  2026-11-30  1200        0     1200    0.70    840  100000   84000000
  2026-12-31  1240        0     1240    0.90   1116  130000  145080000
  2027-01-31     0        0        0    0.00      0       0          0

  [38 rows x 7 columns],
  'TypeB':             총객실수  사용불가객실수  판매가능객실수  객실판매비율  판매객실수    판매단가       객실수입
  2023-12-31     0        0        0    0.00      0       0          0
  2024-01-31  1240        0     1240    0.90   1116  150000  167400000
  2024-02-29  1160        0     1160    0.85    986  150000  147900000
  2024-03-31  1240        0     1240    0.80    992  120000  119040000
  2024-04-30  1200        0     1200    0.80    960  120000  115200000
  ...          ...      ...      ...     ...    ...     ...        ...
  2026-09-30  1200        0     1200    0.80    960  120000  115200000
  2026-10-31  1240        0     1240    0.80    992  120000  119040000
  2026-11-30  1200        0     1200    0.70    840  120000  100800000
  2026-12-31  1240        0     1240    0.90   1116  150000  167400000
  2027-01-31     0        0        0    0.00      0       0          0

  [38 rows x 7 columns],
  'TypeC':             총객실수  사용불가객실수  판매가능객실수  객실판매비율  판매객실수    판매단가       객실수입
  2023-12-31     0        0        0    0.00      0       0          0
  2024-01-31   620        0      620    0.85    527  250000  131750000
  2024-02-29   580        0      580    0.80    464  250000  116000000
  2024-03-31   620        0      620    0.70    434  200000   86800000
  2024-04-30   600        0      600    0.70    420  200000   84000000
  ...          ...      ...      ...     ...    ...     ...        ...
  2026-09-30   600        0      600    0.75    450  200000   90000000
  2026-10-31   620        0      620    0.75    465  200000   93000000
  2026-11-30   600        0      600    0.70    420  200000   84000000
  2026-12-31   620        0      620    0.90    558  250000  139500000
  2027-01-31     0        0        0    0.00      0       0          0

  [38 rows x 7 columns],
  'Total':             총객실수  사용불가객실수  판매가능객실수  객실판매비율  판매객실수    판매단가       객실수입
  2023-12-31     0        0        0    0.00      0       0          0
  2024-01-31  3100        0     3100    0.89   2759  161011  444230000
  2024-02-29  2900        0     2900    0.84   2436  160952  392080000
  2024-03-31  3100        0     3100    0.78   2418  126154  305040000
  2024-04-30  3000        0     3000    0.78   2340  126154  295200000
  ...          ...      ...      ...     ...    ...     ...        ...
  2026-09-30  3000        0     3000    0.79   2370  127089  301200000
  2026-10-31  3100        0     3100    0.79   2449  127089  311240000
  2026-11-30  3000        0     3000    0.70   2100  128000  268800000
  2026-12-31  3100        0     3100    0.90   2790  162000  451980000
  2027-01-31     0        0        0    0.00      0       0          0

  [38 rows x 7 columns]},
 'operating_cost': {'객실운영비': {'청소세탁비':                TypeA     TypeB     TypeC     Total
   2023-12-31         0         0         0         0
   2024-01-31  11160000  13392000  10540000  35092000
   2024-02-29   9860000  11832000   9280000  30972000
   2024-03-31   9920000  11904000   8680000  30504000
   2024-04-30   9600000  11520000   8400000  29520000
   ...              ...       ...       ...       ...
   2026-09-30  10184640  12221568   9548100  31954308
   2026-10-31  10524128  12628953   9866370  33019451
   2026-11-30   8911560  10693872   8911560  28516992
   2026-12-31  11839644  14207572  11839644  37886860
   2027-01-31         0         0         0         0

   [38 rows x 4 columns],
   '수도광열비':               TypeA    TypeB    TypeC  Overhead     Total
   2023-12-31        0        0        0   3000000   3000000
   2024-01-31  5580000  6696000  5270000   3000000  20546000
   2024-02-29  4930000  5916000  4640000   3000000  18486000
   2024-03-31  4960000  5952000  4340000   3000000  18252000
   2024-04-30  4800000  5760000  4200000   3000000  17760000
   ...             ...      ...      ...       ...       ...
   2026-09-30  5092320  6110784  4774050   3182700  19159854
   2026-10-31  5262064  6314476  4933185   3182700  19692425
   2026-11-30  4455780  5346936  4455780   3182700  17441196
   2026-12-31  5919822  7103786  5919822   3182700  22126130
   2027-01-31        0        0        0   3278181   3278181

   [38 rows x 5 columns],
   '예약수수료':               TypeA    TypeB    TypeC     Total
   2023-12-31        0        0        0         0
   2024-01-31  4352400  5022000  3952500  13326900
   2024-02-29  3845400  4437000  3480000  11762400
   2024-03-31  2976000  3571200  2604000   9151200
   2024-04-30  2880000  3456000  2520000   8856000
   ...             ...      ...      ...       ...
   2026-09-30  2880000  3456000  2700000   9036000
   2026-10-31  2976000  3571200  2790000   9337200
   2026-11-30  2520000  3024000  2520000   8064000
   2026-12-31  4352400  5022000  4185000  13559400
   2027-01-31        0        0        0         0

   [38 rows x 4 columns],
   'TypeA': 2023-12-31           0
   2024-01-31    21092400
   2024-02-29    18635400
   2024-03-31    17856000
   2024-04-30    17280000
                   ...
   2026-09-30    18156960
   2026-10-31    18762192
   2026-11-30    15887340
   2026-12-31    22111866
   2027-01-31           0
   Name: TypeA, Length: 38, dtype: int64,
   'TypeB': 2023-12-31           0
   2024-01-31    25110000
   2024-02-29    22185000
   2024-03-31    21427200
   2024-04-30    20736000
                   ...
   2026-09-30    21788352
   2026-10-31    22514629
   2026-11-30    19064808
   2026-12-31    26333358
   2027-01-31           0
   Name: TypeB, Length: 38, dtype: int64,
   'TypeC': 2023-12-31           0
   2024-01-31    19762500
   2024-02-29    17400000
   2024-03-31    15624000
   2024-04-30    15120000
                   ...
   2026-09-30    17022150
   2026-10-31    17589555
   2026-11-30    15887340
   2026-12-31    21944466
   2027-01-31           0
   Name: TypeC, Length: 38, dtype: int64,
   'Overhead': 2023-12-31    3000000
   2024-01-31    3000000
   2024-02-29    3000000
   2024-03-31    3000000
   2024-04-30    3000000
                  ...
   2026-09-30    3182700
   2026-10-31    3182700
   2026-11-30    3182700
   2026-12-31    3182700
   2027-01-31    3278181
   Name: Overhead, Length: 38, dtype: int64,
   'Total': 2023-12-31     3000000
   2024-01-31    68964900
   2024-02-29    61220400
   2024-03-31    57907200
   2024-04-30    56136000
                   ...
   2026-09-30    60150162
   2026-10-31    62049076
   2026-11-30    54022188
   2026-12-31    73572390
   2027-01-31     3278181
   Name: Total, Length: 38, dtype: int64},
  '관리운영비': {'관리운영비':                광고홍보비     기타운영비     Total
   2023-12-31  30000000  10000000  40000000

In [12]:
cf.dct.keys()

dict_keys(['assumption', 'index', 'funding', 'operating_income', 'operating_cost', 'facility_cost', 'cashflow', 'balance', 'pivot_cashflow', 'print_cashflow'])